<div class="card bg-info text-white my-3">
    <div class="card-header">
        <p class="text-warning h3 text-center">{{ iteminfo.name }}</p>
    </div>
    <div class="card-body">
        {{ iteminfo.description }}
    </div>
    <div class="card-footer">
        <div class="row">
            <div class="col">
                ₹{{ iteminfo.price }}
            </div>
            <div class="col">
                <div class="float-right" *ngIf="!authed; else authContent">
                    <fa-icon [icon]="falogin" routerLink="/login" title="Login to continue"></fa-icon>
                </div>
                <ng-template #authContent>                    
                    <div class="float-right">
                        <button class="btn btn-primary-outline" (click)="addToCart(iteminfo)">
                            <fa-icon [icon]="facart"></fa-icon>
                        </button>
                        <button class="btn btn-primary-outline" (click)="favItem()">
                            <fa-icon [icon]="iteminfo.favourite != -1 ? filledHeart : unfilledHeart"></fa-icon>
                        </button>
                    </div>
                </ng-template>
            </div>
        </div>
    </div>
</div>